 
.tweets:hover a{
	visibility: visible;
	color:#00a087;
}

.tweets a{
	color: white;
	visibility: hidden;
	text-decoration: none;	
}

.tweets {
	padding:0;
	background-color: white;
	margin: auto;
	margin:2em;
	border-radius:.5em;
	border-color: lightgray;
	border-style: solid;
	border-width: 1px;
	word-wrap: break-word;
}
.tweets header{
	position:relative;
	vertical-align: middle;
	padding:0;
	background-color: #eee;
	padding: .4rem;
	font-size:1.2rem;
	font-weight:900;
	border-top-right-radius: .25em;
	border-top-left-radius: .25em;
	line-height: 3;

}
.user_name{
	white-space: nowrap; 
    overflow: hidden;
	text-overflow: ellipsis;
	max-width:45%;
}
.tweets header .userID{
	position: absolute	;	
	top:0;
	right:0;
	font-size:.8rem;
	padding: .4rem;
	font-weight:300;
}

.tweets .avatars{
	width:60px;
	margin-right:1rem;
	border-radius:.5em;
	float: left;
	opacity:.6;	
}

.tweets:hover .avatars{
	opacity:1;
}
.tweets .tweet-innards{
	margin:0.5rem;
}
.tweets footer{
	border-top-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding:.5em;
	font-weight:300;
	font-size:.8rem;
}

.tweets .buttons{
	float:right;
}

.tweets:hover{
	border-color:#000000;
}
.error-message{
	padding:.5em;
	background-color: #eee;
	margin: auto;
	margin: 0em 2em 2em 2em;
	border-radius:.5em;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	color:red;
}

